@font-face {
  font-family: Agency FB;
  src: url("../fonts/AgencyFB-Reg.woff2") format('woff2'), url('../fonts/AgencyFB-Reg.woff') format('woff'), url('../fonts/AgencyFB-Reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  src: url('../fonts/Raleway.woff2') format('woff2'), url('../fonts/Raleway.woff') format('woff'), url('../fonts/Raleway.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Raleway-Bold;
  src: url('../fonts/Raleway-Bold.woff2') format('woff2'), url('../fonts/Raleway-Bold.woff') format('woff'), url('../fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  src: url('../fonts/OpenSans.woff2') format('woff2'), url('../fonts/OpenSans.woff') format('woff'), url('../fonts/OpenSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: OpenSans-Semibold;
  src: url('../fonts/OpenSans-Semibold.woff2') format('woff2'), url('../fonts/OpenSans-Semibold.woff') format('woff'), url('../fonts/OpenSans-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: OpenSans-Bold;
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'), url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Raleway-Light;
  src: url('../fonts/Raleway-Light.woff2') format('woff2'), url('../fonts/Raleway-Light.woff') format('woff'), url('../fonts/Raleway-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
.AgencyFB {
  font-family: Agency FB, Arial, sans-serif;
}
.OpenSans {
  font-family: OpenSans, Arial, sans-serif;
}
.OpenSans-Semibold {
  font-family: OpenSans-Semibold, Arial, sans-serif;
}
.OpenSans-Bold {
  font-family: OpenSans-Bold, Arial, sans-serif;
}
.Raleway {
  font-family: Raleway, Arial, sans-serif;
}
.Raleway-Bold {
  font-family: Raleway-Bold, Arial, sans-serif;
}
.Raleway-Light {
  font-family: Raleway-Light, Arial, sans-serif;
}
.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1110px;
}
.display-flex-space-between {
  display: flex;
  justify-content: space-between;
}
.button-font {
  font-family: OpenSans-Semibold, Arial, sans-serif;
  font-size: 15px;
  color: #ffffff;
}
body {
  margin: 0;
  padding: 0;
  font-family: OpenSans, Arial, sans-serif;
  background-color: #ffffff;
  font-size: 14px;
}
.svg-display {
  display: none;
}
.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1110px;
}
.dark-bg {
  background-color: #000000;
}
.section--bg {
  background-color: #f5f5f5;
}
header {
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.logo {
  padding: 22px 0;
  padding-left: 36px;
}
.menu {
  display: flex;
  list-style: none;
  margin: 23px 0;
}
.menu-item {
  margin-right: 40px;
}
.menu-item__link {
  color: rgba(255, 255, 255, 0.69);
  text-decoration: none;
}
.menu-item__link:hover {
  color: #ffffff;
}
.menu-item:last-child {
  margin-right: 0;
}
.banner {
  background-image: url("../img/u2_state0.jpg");
  background-repeat: no-repeat;
}
.banner--bg {
  background-color: rgba(0, 0, 0, 0.52);
}
.banner--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: -5px;
  padding-top: 110px;
  padding-bottom: 139px;
  padding-left: 70px;
}
.banner-content {
  max-width: 520px;
}
.banner-title {
  font-family: Raleway, Arial, sans-serif;
  color: #ffffff;
  font-size: 36px;
  text-transform: uppercase;
  margin-top: 22px;
}
.banner-title:after {
  content: '';
  display: block;
  width: 64px;
  height: 2px;
  background-color: #ffffff;
  margin: 32px 0 35px 3px;
}
.banner-info {
  font-family: Raleway-Light, Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.8);
  margin-left: 2px;
  margin-bottom: 42px;
}
.banner-form {
  max-width: 360px;
  background-color: #ffffff;
  border-radius: 3px;
}
.banner-form__wrapper {
  margin: 0 auto;
}
.banner-form__register {
  margin: 0;
  padding: 0;
  width: 360px;
  overflow: hidden;
  border-radius: 3px;
}
.banner-form__title {
  margin: 0;
  font-family: OpenSans-Bold, Arial, sans-serif;
  font-size: 20px;
  color: #000000;
  text-transform: capitalize;
  text-align: center;
  background-color: #f5f5f5;
  padding-top: 20px;
  padding-bottom: 15px;
}
.banner-form__title span {
  text-transform: uppercase;
  color: #ff9b51;
}
.banner-form__group {
  text-align: center;
}
.banner-form__group--name {
  margin-top: 30px;
}
.banner-form__group--email {
  margin-top: 37px;
}
.banner-form__group--password {
  margin-top: 47px;
}
.banner-form__group input[type=text],
.banner-form__group input[type=email],
.banner-form__group input[type=password] {
  width: 287px;
  border: none;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.16);
  padding-bottom: 10px;
}
.banner-name,
.banner-email,
.banner-pswrd {
  font-family: "OpenSans", Arial, sans-serif;
  padding-left: 13px;
  color: #bdbdbd;
  font-size: 14px;
}
.banner-form__button {
  display: block;
  margin-top: 48px;
  font-family: OpenSans-Semibold, Arial, sans-serif;
  font-size: 15px;
  color: #ffffff;
  text-transform: capitalize;
  background-color: #ff9b51;
  width: 100%;
  height: 100%;
  border: none;
  padding-top: 22px;
  padding-bottom: 20px;
  cursor: pointer;
}
.banner-button {
  display: block;
  margin: 0 0 0 2px;
  width: 133px;
  height: 38px;
  font-family: OpenSans-Semibold, Arial, sans-serif;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  line-height: 38px;
  border: 2px solid #ffffff;
}
.features-content__button {
  display: block;
  width: 120px;
  height: 44px;
  font-family: OpenSans-Semibold, Arial, sans-serif;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  line-height: 44px;
  background-color: #ff8b38;
  border-radius: 3px;
}
.design-button {
  display: block;
  margin: 0 auto;
  width: 135px;
  height: 38px;
  font-family: OpenSans-Semibold, Arial, sans-serif;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  line-height: 38px;
  border: 2px solid #ffffff;
}
.contact-button__send {
  display: block;
  margin: 0 auto;
  width: 146px;
  height: 44px;
  font-family: OpenSans-Semibold, Arial, sans-serif;
  font-size: 15px;
  color: #ffffff;
  text-transform: capitalize;
  background-color: #ff8b38;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.title {
  padding: 105px 0 80px 0;
  margin: 0 auto;
  text-align: center;
}
.title-item {
  font-family: Raleway, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  margin: 0;
  color: #212121;
  line-height: 43px;
}
.title-item:after {
  content: '';
  display: block;
  width: 64px;
  height: 2px;
  background-color: #ff8b38;
  margin: 30px auto;
}
.title-info {
  font-family: OpenSans, Arial, sans-serif;
  color: #86878b;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
.title--design {
  padding: 0;
  margin-bottom: 33px;
}
.title-item--color:after {
  content: '';
  display: block;
  width: 64px;
  height: 2px;
  background-color: #ffffff;
  margin: 30px auto;
}
.title-item--color {
  color: #ffffff;
}
.title-info--color {
  color: rgba(255, 255, 255, 0.8);
}
.title--contact {
  padding-bottom: 0;
}
.menu-item__link:hover {
  transition-duration: 0.5s;
}
@keyframes social-hover {
  100% {
    transform: translateY(3px);
  }
}
.social {
  position: relative;
  box-shadow: -2px 1px 3px 0 rgba(0, 0, 0, 0.38);
}
.social--wrapper {
  display: flex;
  justify-content: space-between;
  padding: 23px 0;
  align-items: center;
}
.social-content {
  max-width: 365px;
}
.social-content__title {
  margin: 0;
  font-family: OpenSans-Bold, Arial, sans-serif;
  font-size: 20px;
  color: #333333;
}
.social-content__info {
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 20px;
  color: #86878b;
}
.social-icons a {
  text-decoration: none;
  display: inline-block;
  width: 46px;
  height: 46px;
  margin: 0 25px;
}
.social-icons a:first-child {
  margin-left: 0;
}
.social-icons a:last-child {
  margin-right: 0;
}
.social-icons a svg {
  width: 100%;
  height: 100%;
  color: #cccccc;
}
.social-icons a svg:hover {
  color: #ff8b38;
  animation: social-hover 0.7s linear alternate infinite;
  /*animation-name: social-hover;
      animation-duration: 0.7s;
      animation-direction: alternate;
      animation-iteration-count: infinite;*/
}
.container--tabs {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 115px;
}
.features-tabs__item {
  width: 114px;
  height: 114px;
  background-color: #333333;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1px;
  font-size: 15px;
  line-height: 114px;
}
.features-tabs__item:hover {
  background-color: #ff8b38;
  cursor: pointer;
}
.features-content {
  margin: 0;
  padding: 0;
  max-width: 480px;
}
.features-content__title {
  font-family: OpenSans-Bold, Arial, sans-serif;
  font-size: 20px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 50px;
}
.features-content__info {
  color: #86878b;
  margin-bottom: 30px;
}
.features-image {
  margin-top: 23px;
}
.container--process {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 105px;
}
.infocard-container {
  display: flex;
  justify-content: space-between;
}
.infocard {
  margin: 0;
  padding: 0;
  text-align: center;
  max-width: 355px;
}
.infocard-img {
  padding: 0;
  margin-bottom: 30px;
}
.infocard-title {
  padding: 0;
  margin-bottom: 30px;
}
.infocard-title__title {
  margin: 0;
  padding: 0;
  font-family: OpenSans-Bold, Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
}
.infocard-info {
  text-align: center;
}
.infocard-info__info {
  font-size: 14px;
  line-height: 20px;
  color: #86878b;
}
.pricing--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 96px;
}
.pricing-card {
  width: 345px;
}
.pricing-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.pricing-list__title {
  margin: 0;
  font-family: OpenSans-Bold, Arial, sans-serif;
  font-size: 20px;
  color: #ffffff;
  text-transform: capitalize;
}
.pricing-list__item {
  padding: 14px 0;
  text-align: center;
  border-bottom: 1px solid #86878b;
  line-height: 24px;
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #86878b;
  background-color: #ffffff;
}
.pricing-list__item--bg {
  background-color: #333333;
}
.pricing-list__item__info {
  font-family: Raleway-Bold, Arial, sans-serif;
  font-size: 35px;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 100px;
}
.pricing-list__item__info span {
  font-family: Raleway-Bold, Arial, sans-serif;
  font-size: 94px;
  text-transform: uppercase;
}
.pricing-list__item:first-child {
  padding: 30px 0;
}
.pricing-list__item:nth-child(2) {
  margin: 0;
  padding: 0;
  height: 100px;
}
.pricing-list__item:nth-child(3) {
  border: none;
  padding-top: 17px;
  padding-bottom: 21px;
}
.pricing-list__item:last-child {
  border: none;
}
.pricing-list__item__italic {
  font-family: OpenSans-Semibold, Arial, sans-serif;
  font-size: 14px;
  text-transform: none;
  color: rgba(255, 255, 255, 0.5);
}
.pricing-list__item--line {
  padding: 0;
  height: 5px;
  background-color: #ff8b38;
}
.pricing-list__item--popular {
  background-color: #ff8b38;
  font-family: OpenSans-Bold, Arial, sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}
.pricing-list__item--hover:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.reviews-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
.rewiews-comment {
  max-width: 280px;
}
.comment-info {
  margin: 0;
  width: 100%;
  background-color: #f5f5f5;
  color: #86878b;
  font-size: 14px;
  font-style: italic;
  padding: 25px 12px;
  border-radius: 3px;
}
.comment-border {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #f5f5f5;
  margin-left: 25px;
  margin-bottom: 8px;
}
.comment-customers {
  display: flex;
  justify-content: start;
  align-items: center;
}
.comment-customers__info {
  margin-left: 15px;
}
.comment-customers__name {
  margin: 0;
  font-family: OpenSans-Bold, Arial, sans-serif;
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 6px;
}
.comment-customers__position {
  margin: 0;
  color: #86878b;
  text-transform: capitalize;
  margin-left: -2px;
}
.design {
  background-image: url("../img/u2_state1.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.design--bg {
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 74px;
  padding-bottom: 63px;
}
.contact-wrapper {
  padding-top: 90px;
  padding-bottom: 83px;
}
.contact-form__mainwrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}
.contact-form__group {
  padding-bottom: 29px;
  color: #bdbdbd;
}
.contact-form__group input[type=text],
.contact-form__group input[type=email] {
  width: 527px;
  border: none;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.16);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 13px;
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
}
.contact-form__group:last-child {
  padding-bottom: 0;
}
.contact-message textarea {
  width: 527px;
  border: none;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.16);
  padding: 0;
  padding-top: 5px;
  padding-bottom: 15px;
  padding-left: 13px;
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  height: 155px;
  resize: none;
}
.footer--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer a {
  text-decoration: none;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 0 16px;
}
footer a svg {
  width: 100%;
  height: 100%;
  color: #cccccc;
}
.footer-img {
  margin-top: 38px;
}
.footer-info {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}
