@font-face {
    font-family: 'Agency FB';
    src: url('AgencyFB-Reg.woff2') format('woff2'),
        url('AgencyFB-Reg.woff') format('woff'),
        url('AgencyFB-Reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway.woff2') format('woff2'),
        url('Raleway.woff') format('woff'),
        url('Raleway.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Bold.woff2') format('woff2'),
        url('Raleway-Bold.woff') format('woff'),
        url('Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans.woff2') format('woff2'),
        url('OpenSans.woff') format('woff'),
        url('OpenSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Semibold.woff2') format('woff2'),
        url('OpenSans-Semibold.woff') format('woff'),
        url('OpenSans-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Bold.woff2') format('woff2'),
        url('OpenSans-Bold.woff') format('woff'),
        url('OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Light.woff2') format('woff2'),
        url('Raleway-Light.woff') format('woff'),
        url('Raleway-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

